<head>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">HEEEYYYYY
            <a href="" class="navbar-brand">{{ user.username }}</a>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right text-center">
                    <li class="active"><a href="#">prvo</a></li>
                    <li><a href="#">trece</a></li>
                </ul>
            </div>
        </div>
    </div>
</head>